@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

*
{
  color: #333 !important;
}
#home
{
  display: block;
}
#register
{
  display: none;
}
.uk-navbar-nav>li>a {
    font-size: 1.1rem;
    color: white !important;
    padding: 0px 25px;
    font-family: 'Roboto Slab', serif;
}
.custom-navbar-color
{
  background-image: linear-gradient( 109.6deg,  rgba(116,18,203,1) 0%, rgba(230,46,131,1) 91.2% );
}
.custom-login-button
{
    border-radius: 25px;
    border: 2px solid;
    border-color: #fff !important;
    font-size: 1.1rem;
    font-family: 'Roboto Slab', serif;
    color: #fff !important;
}

.uk-offcanvas-bar {
  background: linear-gradient( 109.6deg,  rgba(116,18,203,1) 0%, rgba(230,46,131,1) 91.2% );
  color: white !important;
}
.uk-light .uk-nav-primary>li>a, .uk-offcanvas-bar .uk-nav-primary>li>a {
  color: rgba(255,255,255);
}
.custom-section-banner
{
    font-family: 'Roboto Slab', serif;
    font-size: 3.5rem;
    color: #fff !important;
}
.uk-navbar-container:not(.uk-navbar-transparent) {
  background-image: linear-gradient( 109.6deg, rgba(230,46,131,1) 0%, rgba(116,18,203,1) 100%);
}
.custom-sec-mob-banner
{
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
    color: #fff;
}
/* button */
.uk-default-button
{
  color: #fff!important;
}
/* CSS */
.button-64 {
  background-color: transparent;
  color: white !important;
  border: 2px solid;
  border-color: #fff;
  align-items: center;
  border-radius: 8px;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
    background: linear-gradient( 45deg,  rgba(116,18,203,1) 0%, rgba(104,84,249,1) 100% );
  }
  
  .button-64 span {
    background-color: transparent;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    color: #fff !important;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }
  
  @media (min-width: 768px) {
    .button-64 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  /* button over */
  /* card step */
  .custom-circle
  {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient( 111.6deg,  rgba(174,68,223,1) 27.3%, rgba(246,135,135,1) 112.7% );
  }
  .custom-icon
  {
    color: #222;
    font-size: 3.6rem;
  }
  .custom-card-border 
  {
    border-radius: 25px;
  }
  .custom-card-border:hover
  {
    background: linear-gradient(144deg,#0052D4 0%, #6FB1FC 100%);
  }
  .custom-color-white
  {
    color: #f7f7f7 !important;
    font-weight: 500;
  }
  /* button */
  /* From cssbuttons.io */
  .c-button {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 0.9em 1.6em;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
   }
   
   .c-button--gooey {
    color: #050451;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 2px solid #050451;
    border-radius: 0;
    position: relative;
    transition: all 700ms ease;
   }
   
   .c-button--gooey .c-button__blobs {
    height: 100%;
    filter: url(#goo);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: -3px;
    right: -1px;
    z-index: -1;
   }
   
   .c-button--gooey .c-button__blobs div {
    background-color: #050451;
    width: 34%;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    transform: scale(1.4) translateY(125%) translateZ(0);
    transition: all 700ms ease;
   }
   
   .c-button--gooey .c-button__blobs div:nth-child(1) {
    left: -5%;
   }
   
   .c-button--gooey .c-button__blobs div:nth-child(2) {
    left: 30%;
    transition-delay: 60ms;
   }
   
   .c-button--gooey .c-button__blobs div:nth-child(3) {
    left: 66%;
    transition-delay: 25ms;
   }
   
   .c-button--gooey:hover {
    color: #fff !important;
   }
   
   .c-button--gooey:hover .c-button__blobs div {
    transform: scale(1.4) translateY(0) translateZ(0);
   }
  /* card step over */
  /* product card */
  :root {
  --hue-color: 210;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 96%, 54%);
  --first-color-light: hsl(var(--hue-color), 100%, 9%);
  --first-color-alt: hsl(var(--hue-color), 100%, 20%);
  --first-color-lighter: hsl(var(--hue-color), 1%, 90%);
  --title-color: hsl(var(--hue-color), 12%, 15%);
  --text-color: hsl(var(--hue-color), 12%, 35%);
  --text-color-light: hsl(var(--hue-color), 12%, 65%);
  --white-color: #FFF !important;
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Lato', sans-serif;
  --pricing-font: 'Rubik', sans-serif;
  --biggest-font-size: 1.75rem;
  --normal-font-size: .938rem;
  --h2-font-size: 1.25rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.125rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

/*==================== CARD PRICING ====================*/
.card {
  padding: 3rem 0;
}

.card__container {
  gap: 3rem 1.25rem;
}

.card__content {
  position: relative;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  border-radius: 1.75rem;
  box-shadow: 0 3px 24px hsla(var(--hue-color), 61%, 16%, 0.1);
  transition: .4s;
}

.card__content:hover {
  box-shadow: 0 16px 24px hsla(var(--hue-color), 61%, 16%, 0.15);
}

.card__header-img {
  width: 50px;
  height: 50px;
}

.card__header-circle {
  width: 50px;
  height: 50px;
  background-color: var(--first-color-lighter);
  border-radius: 5px;
  margin-bottom: var(--mb-1);
  place-items: center;
}

.card__header-subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-transform: uppercase;
  margin-bottom: var(--mb-0-25);
}

.card__header-title {
  font-size: var(--biggest-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.card__pricing {
  position: absolute;
  background: linear-gradient(157deg, var(--first-color-light) -12%, var(--first-color) 109%);
  width: 60px;
  height: 88px;
  right: 1.5rem;
  top: -1rem;
  text-align: center;
}

.card__pricing-number {
  font-family: var(--pricing-font);
}

.card__pricing-symbol {
  font-size: var(--smaller-font-size);
  color: var(--white-color) !important;
}

.card__pricing-number {
  font-size: var(--h2-font-size);
}

.card__pricing-month {
  display: block;
  font-size: var(--tiny-font-size);
}

.card__pricing-number, 
.card__pricing-month {
  color: var(--white-color) !important;
}

.card__pricing::after, 
.card__pricing::before {
  content: '';
  position: absolute;
}

.card__pricing::after {
  width: 100%;
  height: 14px;
  background-color: var(--white-color);
  left: 0;
  bottom: 0;
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.card__pricing::before {
  width: 14px;
  height: 16px;
  background-color: var(--first-color-alt);
  top: 0;
  left: -14px;
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.card__list-item {
  display: flex;
  align-items: center;
}

.card__list-icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-0-5);
}

.card__button {
  padding: 1rem;
  border: none;
  font-size: var(--normal-font-size);
  border-radius: .5rem;
  background: linear-gradient(157deg, var(--first-color-light) -12%, var(--first-color) 109%);
  color: var(--white-color) !important;
  cursor: pointer;
  transition: .4s;
}

.card__button:hover {
  box-shadow: 0 12px 24px hsla(var(--hue-color), 97%, 54%, 0.2);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .card__content {
    padding: 2rem 1.25rem;
    border-radius: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 568px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card__content {
    grid-template-rows: repeat(2, max-content);
  }
  .card__button {
    align-self: flex-end;
  }
}

/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    height: 100vh;
    align-items: center;
  }
  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__header-circle {
    margin-bottom: var(--mb-1-25);
  }
  .card__header-subtitle {
    font-size: var(--small-font-size);
  }
}
/* professional card */
/* tab */

#tsum-tabs h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

#tsum-tabs p {
  margin: 0 0 20px;
  line-height: 1.5;
  color: #333;
}

#tsum-tabs main {
  background: #fff;
}

#tsum-tabs section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

#tsum-tabs input {
  display: none;
}

#tsum-tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  align-items: center;
  border: 1px solid transparent;
  color: #0d20cc;
}

#tsum-tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
  color: #0d20cc;
}

/* #tsum-tabs label[for*='1']:before { content: '\f09a'; }
#tsum-tabs label[for*='2']:before { content: '\f16d'; }
#tsum-tabs label[for*='3']:before { content: '\f167'; } */

#tsum-tabs label:hover {
  cursor: pointer;
  color: #091bb6;
}

#tsum-tabs input:checked + label {
  color: #0b21e1;
  border: 1px solid #ddd;
  border-top: 2px solid #0d20cc;
  border-bottom: 1px solid #fff;
}

#tsum-tabs #tab1:checked ~ #content1,
#tsum-tabs #tab2:checked ~ #content2,
#tsum-tabs #tab3:checked ~ #content3,
#tsum-tabs #tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  #tsum-tabs label {
    font-size: 0;
  }
  #tsum-tabs label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  #tsum-tabs label {
    padding: 15px;
  }
}
.custom-card-bg
{
  border-radius: 25px;
  box-shadow: 0px 0px 0px 1px #091bb6;
}
/* tab design over */
/* mob tab */
.uk-dropdown
{
  background: linear-gradient( 109.6deg, rgba(230,46,131,1) 0%, rgba(116,18,203,1) 100%);
  border-radius: 25px;
}
/* tab mobile view */
.uk-subnav>* {
 padding: 5px;
}
.uk-subnav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.uk-subnav-pill>.uk-active>.instagram {
  background-image: linear-gradient( 109.6deg, #833ab4 0%, #fd1d1d 70%, #fcb045 91.2% );
  padding: 15px 20px;
  color: white !important;
  border-radius: 5px;
}
.uk-subnav-pill>.uk-active>.facebook {
  background-image: linear-gradient( 109.6deg, #2B32B2 0%, #1488CC 100% );
  padding: 15px 20px;
  color: white !important;
  border-radius: 5px;
}
.uk-subnav-pill>.uk-active>.youtube {
  background-image: linear-gradient( 109.6deg, #b31217 0%, #e52d27 100% );
  padding: 15px 20px;
  color: white !important;
  border-radius: 5px;
}
.uk-subnav-pill>*>:first-child 
{
  text-transform: capitalize;
  font-weight: 600;
}
/* input */
#form {
  width: 80vw;
  margin: 0 auto;
  margin-top: 50px;
}
.input-box.active-grey .input-1 {
  border: 1px solid #dadce0;
}
.input-box.active-grey .input-label {
  color: #80868b;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.active-grey .input-label svg {
  position: relative;
  width: 11px;
  height: 11px;
  top: 2px;
  transition: 250ms;
}
.input-box {
  position: relative;
  margin: 10px 0;
}
.input-box .input-label {
  position: absolute;
  color: #80868b;
  font-size: 16px;
  font-weight: 400;
  max-width: calc(100% - (2 * 8px));
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  left: 8px;
  top: 13px;
  padding: 0 8px;
  transition: 250ms;
  user-select: none;
  pointer-events: none;
}
.input-box .input-label svg {
  position: relative;
  width: 15px;
  height: 15px;
  top: 2px;
  transition: 250ms;
}
.input-box .input-1 {
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  color: #202124;
  border: 1px solid #dadce0;
  padding: 13px 15px;
  transition: 250ms;
}
.input-box .input-1:focus {
  outline: none;
  border: 2px solid #1a73e8;
  transition: 250ms;
}
.input-box.error .input-label {
  color: #f44336;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.error .input-1 {
  border: 2px solid #f44336;
}
.input-box.focus .input-label, .input-box.active .input-label {
  color: #1a73e8;
  top: -8px;
  background: #fff;
  font-size: 11px;
  transition: 250ms;
}
.input-box.focus .input-label svg, .input-box.active .input-label svg {
  position: relative;
  width: 11px;
  height: 11px;
  top: 2px;
  transition: 250ms;
}
.input-box.active .input-1 {
  border: 2px solid #1a73e8;
}

/* mobile footer tab */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  position: fixed;
}
.navbar {
  position: relative;
  height: 60px;
  min-width: 290px;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(82, 74, 74, 0.3);
}
.navbar:after {
  content: "";
  position: absolute;
  bottom: 7px;
  height: 4px;
  width: 35%;
  left: 50%;
  transform: translateX(-50%);
  background-color: gray;
  opacity: 0.3;
}
.circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(90px - 40px);
  margin-bottom: 0;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ff5e00;
  z-index: 9;
  box-shadow: 0 5px 5px rgba(255, 147, 85, 0.35);
  transition: height 0.3s;
}
/* */
.circle .plus-icon {
  color: white !important;
  font-size: 1.2rem;
  transition: opacity 0.3s, transform 0.2s;
}

.circle .social {
  position: absolute;
  top: 195px;
  color: white;
  background-color: rgba(255, 212, 212, 0.308);
  height: 60px;
  width: 60px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
}
.circle .social:nth-child(2) {
  opacity: 0;
  transition: opacity 0.3s, top 0.5s ease;
}
.circle .social:nth-child(3) {
  opacity: 0;
  transition: opacity 0.3s, top 0.5s 0.1s ease;
}
.circle .social:nth-child(4) {
  opacity: 0;
  transition: opacity 0.3s, top 0.5s 0.22s ease;
  margin-bottom: 0px;
}
.circle:hover .social:nth-child(2) {
  opacity: 1;
  top: 5px;
}
.circle:hover .social:nth-child(3) {
  opacity: 1;
  top: calc(5px + 60px + 5px);
}
.circle:hover .social:nth-child(4) {
  opacity: 1;
  top: calc(5px + 60px + 5px + 60px + 5px);
}
.circleBackground {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(80px - 80px / 2);
  margin-bottom: 0;
  height: calc(60px + 0px);
  width: calc(60px + 0px);
  border-radius: calc(100px / 2);
  box-shadow: 0 10px 20px rgb(82 74 74 / 80%);
}
.icon-home, .icon-settings, .icon-cart, .icon-bell {
  font-size: 1.4rem;
  color: #222 !important;
}
